:root {
  --cal-bg: #fff;
  --btn-bg: #dfe8ef;
  --keys-bg: #edf1f45f;
  --text-color: #30456a;
  --theme-bg: transparent;
  --btn-white: #30456a;
  --btn-dark: #30456a46;
  --btn-hover-color: #fff;
  --btn-hover-bg-color: #30456a;
}
.dark-mode {
  --cal-bg: #24252d;
  --btn-bg: #24252d;
  --keys-bg: #2c2c37;
  --text-color: #fff;
  --theme-bg: #2c2c37;
  --btn-white: #93969c;
  --btn-dark: #fff;
  --btn-hover-color: #24252d;
  --btn-hover-bg-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  background-color: var(--cal-bg);
  width: 315px;
  height: 570px;
  gap: 5px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 9%);
}
.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 14px;
  border-radius: 12px;
}
button {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  font-size: 18px;
  background-color: var(--btn-bg);
  border: none;
}
input {
  width: 95%;
  font-size: 56px;
  font-weight: bold;
  color: var(--text-color);
  border: none;
  background-color: transparent;
}
.display {
  text-align: right;
}
.keys {
  background-color: var(--keys-bg);
  padding: 22px;
}
/* Button Colors */
.all-clear,
.sign,
.percentage {
  color: #13c787;
}
.operator,
.equal {
  color: #b04652;
}
.num,
.back,
.decimal {
  color: var(--text-color);
  font-size: 20px;
}
/* History */
.history {
  text-align: right;
  padding-right: 20px;
  font-size: 22px;
  color: #93969c;
}
/* Toggle Theme */
.theme {
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 9%);
  width: 80px;
  margin: 20px auto;
  /* CSS nesting */
  button {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    background-color: var(--theme-bg);
    color: var(--btn-white);
  }
  button.dark {
    color: var(--btn-dark);
  }
  button:hover {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg-color);
  }
}
